.old_mat-dialog-title{
    background-color: #03a9f4;
    text-align: center;
    color: white
    
}
.mat-dialog-title {
    color: white;
    font-size: 16px;
    background-color: #9ca6a9;    
    text-align: center;
    width: 100%;
}